.mapContainer {
  height: 100dvh;
	width: 100dvw;
}

.uiOverlay {
  position: absolute;
  z-index: 10;
  inset: 0;
  
  pointer-events: none;
  
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.uiOverlay > * {
  pointer-events: auto;
}
